doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    link(rel="stylesheet" type="text/css" href="/datatable-master/css/datatable-bootstrap.min.css" media="screen")
    script(type="text/javascript" src="/datatable-master/js/datatable.min.js")
    script(type="text/javascript" src="/datatable-master/js/datatable.jquery.min.js")
    link(rel='stylesheet', href='/css/common.css')
  body
    block content
