extends layout

block content
  include navigation
  div.container
    h1 パスワード変更
    if error
      div.alert.alert-danger
        p= error
    else if info
      div.alert.alert-info
        p= info
    div#errorMessage
      p
    form#passwordForm(method="post" action="/back/password" autocomplete="off")
      div.form-group
        div.row
          label.col-sm-3.control-label(for="inputCurrentPass") 現在のパスワード
          div.col-sm-9
            input.form-control#inputCurrentPass(type="password" name="currentPass")
        div.row
          label.col-sm-12.control-label#errorCurrentPass(for="inputCurrentPass")
      div.form-group
        div.row
          label.col-sm-3.control-label(for="inputNewPass") 新しいパスワード
          div.col-sm-9
            input.form-control#inputNewPass(type="password" name="newPass")
        div.row
          label.col-sm-12.control-label#errorNewPass(for="inputNewPass")
      div.form-group
        div.row
          label.col-sm-3.control-label(for="inputNewPass2") 新しいパスワード（確認用）
          div.col-sm-9
            input.form-control#inputNewPass2(type="password" name="newPass2")
        div.row
          label.col-sm-12.control-label#errorNewPass2(for="inputNewPass2")
      div.form-group.row
        div.col-sm-1
          button.btn.btn-primary(data-toggle="modal" data-target="#confirmModal" onclick="return false;") 変更
          div#confirmModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            div.modal-dialog(role='document')
              div.modal-content
                div.modal-header
                  h4#exampleModalLabel.modal-title パスワード変更確認
                div.modal-body
                  | パスワードを変更します
                div.modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') キャンセル
                  button#hideModal.btn.btn-primary(type='submit') 変更
  script.
    $('#hideModal').click(function() {
      $('#confirmModal').modal('hide');
    });
  script(type="text/javascript" src="/javascripts/password-form-validation.js")
